/*
 * Name: Mo Young, Corbin Strong
 * Date: December 11, 2023
 * Section: CSE 154 AA
 *
 * This is the front-end styles.css file for our ecommerce site. It contains styling information
 * and classes which are used in many different aspects of the site.
 */
header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 75px;
  box-shadow: 0px 0px 1px #000000;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 20pt;
  margin-left: 15px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

h1:hover {
  cursor: pointer;
}

h2 {
  font-size: 20px;
}

blockquote {
  /* font-family: 'Indie Flower', cursive; */
  font-size: 20pt;
}

header section button {
  font-family: 'Raleway', sans-serif;
  font-size: medium;
  color: black;
  text-decoration: none;
  margin-left: 15px;
  padding: 0;
  border: none;
  background: none;
  margin-right: 5px;
}

body {
  /* background-image: url("img/perfumeWallpaper.jpg"); */
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

header section button:hover {
  text-decoration: underline;
}

/* aside > button {
  font-size: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  position: absolute;
  bottom: 0px;
} */

#cart-confirmation, #checkout-message {
  color: #2c512a;
}

header section {
  padding: 5px;
  border-width: 0;
  border-style: solid;
  /* border-color: rgb(110, 110, 110); */
  padding-right: 20px;
  display: flex;
  justify-content: space-evenly;
  margin-right: 1%;
}

header section > a:hover {
  text-decoration: underline;
}

#cart-contents {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

#cart-items {
  display: block;
  width: 1200px;
}
/*
header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 20pt;
  margin-left: 15px;
} */

header section > a, p {
  font-family: 'Raleway', sans-serif;
  font-size: small;
  color: black;
  text-decoration: none;
  margin: 10px;
}

#search-form {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: 36px;
}

#filter-options {
  font-family: 'Raleway', sans-serif;
  margin: 5px 5px 5px 0px;
  height: 37px;
  border-radius: 0%;
}

#search-btn {
  font-family: 'Raleway', sans-serif;
  height: 37px;
  margin: 5px 5px 5px 0px;
  border-radius: 0%;
  border-width: 1px;
  /* border-color: rgb(110, 110, 110); */
  background: none;
}
#logged-in-message {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

#search-bar {
  width: 500px;
  height: 33px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 12px;
  border-width: 1px;
  border-style: solid;
  /* border-color: rgb(110, 110, 110); */
  padding-right: 20px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 0%;
}

#login-window, #create-acc-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 500px; */
  justify-content: left;
  height: 50%;
  margin-top: 50px;
}

#login-window input, #create-acc-window input {
  margin-left: auto;
  margin-right: auto;
}


#login-window p {
  font-family: "Source Serif 4", serif;
  font-size: 20px;
  font-weight: 450;
}

body {
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.list-view {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* .list-view > div {
  margin: 5px 0px 5px 0px;
  background-color: whitesmoke;
  border: 3px solid black;
  padding: 5px;
  max-width: 1193px;
  display: flex;
  justify-content: space-between;
} */

.order-container {
  /* display: block; */
  margin-top: 5px;
  border-radius: 0%;
  border-width: 2px;
  max-width: 1200px;
  border-color: rgb(110, 110, 110);
}

.order-object {
  display: flex;
  max-width: 1200px;
  /* justify-content: space-between; */
}

.list-view img {
  display: none;
}

.hidden, #product.hidden, #error-msg.hidden, #cart-place-order.hidden {
  display: none;
}

.splash-box {
  color: black;
  font-weight: bold;
  height: 80px;
  padding-top: 25px;
  padding-bottom: 20px;
  font-size: 100px;
  display: flex;
  justify-content: center;
}

.splash-box h2 {
  font-size: 40px;
  font-family: "Hedvig Letters Serif", serif;
  font-weight: 300;
  font-style: normal;
}

#toggle-display-btn {
  width: 100px;
  display: block;
}

.card-view div {
  width: 200px;
  height: 250px;
  background-color: white;
  padding-left: 5%;
  border: 0px solid grey;
  font-size: 15px;
  margin: 13px;
}

/* .card-view div * {
  margin: 5px;
} */

.card-view div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12.5px;
  width: 175px;
  height: 175px;
}

.card-view div p {
  font-size: 15px;
}

#scroll-left {
  margin-right: -2px;
  opacity: 50%;
}

#scroll-left:hover {
  opacity: 100%;
}

#scroll-right {
  margin-left: -2px;
  opacity: 50%;
}

#scroll-right:hover {
  opacity: 100%;
}

.card-view {
  /* width: 80%; */
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 5%;
}

input[type="text"], input[type="password"], input[type="email"] {
  font-family: 'Raleway', sans-serif;
  width: 300px;
  height: 50px;
  margin: 5px;
  border-width: 1px;
  border-radius: 0px;
}

input[type="number"] {
  width: 25px;
}

#login-error, #checkout-error {
  color: red;
  font-size: 10px;
}

#login-form label {
  font-family: "Source Serif 4", serif;
  font-size: 13px;
  font-weight: 310;
}

#login-form p, #create-acc-form p {
  font-family: "Source Serif 4", serif;
  font-size: 16px;
  font-weight: 350;
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 0;
}

/* #home-btn:hover {
  cursor: pointer;
} */

#product {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  margin-top: 100px;
  margin-left: 20%;
}

#product * {
  /* margin: 5px; */
}

#product div {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.product-view {
  display: flex;
  justify-content: space-between;
}

.product-view article {
  font-family: "Source Serif 4", serif;
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: start;
  margin-right: 10%;
}

#product-img {
  width: 400px;
  height: 600px;
  margin-right: 10%;
}

#product-size {
  color: darkgray;
}

#product-desc {
  font-family: "Source Serif 4", serif;
  margin-left: 0px;
  font-size: 16px;
  font-weight: 300;
}

#product-quantity {
  margin-left: 0px;
  margin-bottom: 10px;
  color: #2c512a;
  font-weight: 600;
}

#product-quantity-input {
  border-radius: 0px;
  border-width: 1px;
}

#product-header {
  margin-bottom: 5px;
  height: 40px;
  font-size: 30px;
}

#product-price {
  font-family: "Source Serif 4", serif;
  margin-left: 0px;
  font-size: 15px;
  font-weight: 150;
}

#product-company {
  margin-top: 0px;
  font-weight: lighter;
}

#add-to-cart-form {
  display: flex;
  flex-direction: column;
}

#add-to-cart {
  margin-top: 30px;
  margin-bottom: 70px;
  height: 50px;
  width: 300px;
  border-radius: 0px;
  border-width: 1px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 150;

}

#add-to-cart:hover {
  transition-duration: 500ms;
  background-color: white;
  color: black;
}

#main-holder div {
  height: 350px;
}

#main-holder div img {
  height: 250px;
}

#main-holder div:hover {
  cursor: pointer;
  border-color: #2c512a;
}

#redirect-txt {
  font-size: 20px;
  color: #2c512a;
}

#error-msg {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 20px;
  color: red;
  text-align: center;
}

#cardTitle {
  font-family: "Hedvig Letters Serif", serif;
  font-weight: 1000;
}

#cardText {
  font-family: "Source Serif 4", serif;
  font-weight: 300;
  /* font-weight: lighter; */
}

#login-btn, #create-acc-btn, #confirm-btn, #shop-btn {
  height: 50px;
  width: 300px;
  border-radius: 0px;
  border-width: 1px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 150;
}

#login-btn:hover, #create-acc-btn:hover, #confirm-btn:hover, #shop-btn:hover {
  transition-duration: 500ms;
  background-color: white;
  color: black;
}

#sign-up-btn, #clear-cart-btn {
  height: 50px;
  width: 300px;
  border-radius: 0px;
  border-width: 1px;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 150;
}

#sign-up-btn:hover, #clear-cart-btn:hover {
  transition-duration: 500ms;
  background-color: black;
  color: white;
}

#order-title {
  align-self: first baseline;
  width: 50%
}

#order-quantity {
  align-self: center;
  width: 35%
}

#order-price {
  align-self: last baseline;
}

#cart-checkout {
  display: flex;
  justify-content: space-between;
}

#clear-cart-btn {
  margin-left: 5px;
}

#title-phrase {
  position: absolute;
  height: 70%;
  top: 25%;
  /* right: 30%; */
  left: 62%;
  width: 30%;
  color: black;

  /* background-color: red; */
}

#title-phrase h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 600;
  margin-left: 0px;
}

#shop-btn {
  margin-top: 40px;
}